In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv("raw_dataset.csv")

In [5]:
df = df.drop_duplicates()

In [9]:
df["Age"] = df["Age"].fillna(df["Age"].median())
df["Salary"] = df["Salary"].fillna(df["Salary"].median())
df["Experience"] = df["Experience"].fillna(df["Experience"].median())

In [11]:
df["Department"] = df["Department"].str.capitalize()

In [13]:
salary_cap = df["Salary"].quantile(0.99)
df["Salary"] = np.where(df["Salary"] > salary_cap, salary_cap, df["Salary"])

In [15]:
df["Joining_Date"] = pd.to_datetime(df["Joining_Date"], errors='coerce')

In [17]:
def experience_level(exp):
    if exp < 5:
        return "Entry"
    elif exp < 15:
        return "Mid"
    else:
        return "Senior"

df["Experience_Level"] = df["Experience"].apply(experience_level)

In [19]:
df["Salary"] = MinMaxScaler().fit_transform(df[["Salary"]])

In [21]:
df.to_csv("cleaned_dataset.csv", index=False)
print("Data cleaning and processing completed. Cleaned file saved as cleaned_dataset.csv")

Data cleaning and processing completed. Cleaned file saved as cleaned_dataset.csv

In [23]:
print(df.head())

   ID   Age    Salary  Experience Department Joining_Date Experience_Level
0   1  54.0  0.143557        11.0  Marketing   2010-01-31              Mid
1   2  46.0  0.137224         7.0      Sales   2010-02-28              Mid
2   3  42.0  0.028849        19.0    Finance   2010-03-31           Senior
3   4  21.0  0.046233         2.0      Sales   2010-04-30            Entry
4   5  37.0  0.183630        15.0      Sales   2010-05-31           Senior

In [25]:
print(df.isnull().sum())  # Miss value

ID                  0
Age                 0
Salary              0
Experience          0
Department          0
Joining_Date        0
Experience_Level    0
dtype: int64

In [27]:
df.head()

   ID   Age    Salary  Experience Department Joining_Date Experience_Level
0   1  54.0  0.143557        11.0  Marketing   2010-01-31              Mid
1   2  46.0  0.137224         7.0      Sales   2010-02-28              Mid
2   3  42.0  0.028849        19.0    Finance   2010-03-31           Senior
3   4  21.0  0.046233         2.0      Sales   2010-04-30            Entry
4   5  37.0  0.183630        15.0      Sales   2010-05-31           Senior